<% if @restaurant.errors.any? %>
	<h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
    <% @restaurant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>
<%= form_for @restaurant, html: { class:"input-group" } do |f| %>
	<%= f.text_field :name, class:"form-control", placeholder: "Name" %>

	<%= f.text_area :address, class:"form-control", placeholder: "Address" %>

	<%= f.text_area :cuisine, class:"form-control", placeholder: "Cuisine" %>

	<%= f.submit %>
<% end %>
