<% if @restaurants.any? %>
	<% @restaurants.each do |restaurant| %>
		<h1><%= restaurant.name %></h1><a href="/restaurants/<%= restaurant.id %>/edit"> Edit <%= restaurant.name %></a>
	      <%= link_to " Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
	      <%= link_to " Add Review", new_restaurant_review_path(restaurant) %>
	      <h4><%= pluralize restaurant.reviews.count , 'review' %></h4>
			  <ul>
			  <% if restaurant.reviews.count == 0 %>
			  	No reviews
			  <% else %>
				      <% restaurant.reviews.each do |review| %>
				      	<li><%= review.comment %> | <%= review.rating %> <%= link_to "Delete", restaurant_review_path(restaurant, review), method: :delete %></li>
			      	  <% end %>
			  <% end %> 
			  </ul> 
	<% end %>
<% else %>
	No restaurants yet
<% end %>

