
<template id="review_template">
<li>
	<strong>{{ star_rating }}</strong> {{ comment }} <% if user_signed_in? %>{{{ delete_link }}} {{ user_email }}<% end %>
</li>
</template>
<% if @restaurants.any? %>
	<% @restaurants.each do |restaurant| %>
		<div class="panel panel-default">
		<div class="panel-body">
		<div class='restaurant'>
		<h1><%= restaurant.name %></h1>
		  <% if user_signed_in? %>
        	<%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
        	<%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?' } %>
      	  <% end %>
	
	      <h4 class='review_count'><%= pluralize restaurant.reviews.count, 'review' %></h4>
		      	<h3>Average Rating: 
		      	<span class='average_rating_number'><%= number_with_precision(restaurant.average_rating, precision: 1) %></span>
		      	<span class='average_rating_stars'><%= star_rating(restaurant.average_rating) %></span>
		      	</h3>
	      
			  <ul class="reviews">
				 
					      <% restaurant.reviews.each do |review| %>
					      	<li><%= star_rating(review.rating) %> <%= review.comment %> <%= review.user.email %><% if user_signed_in? %><%= link_to "Delete", restaurant_review_path(restaurant, review), method: :delete %><% end %></li>
				      	  <% end %>
			  </ul>
			  <% if user_signed_in? %>
			  <%= form_for [restaurant, @review] do |f| %>
			  <%= f.label :comment %>
			  <%= f.text_area :comment %>

			  <%= f.label :rating %>
			  <%= f.select(:rating, (1..5)) %>

			  <%= f.submit %>

			  <% end %>
		<% end %>
  </div>
</div>
	</div>
	<% end %>
<% else %>
	No restaurants yet
<% end %>
  	
