<% if @restaurants.any? %>
	<% @restaurants.each do |restaurant| %>
		<h1><%= restaurant.name %></h1><a href="/restaurants/<%= restaurant.id %>/edit"> Edit <%= restaurant.name %></a>
	      <%= link_to " Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
	      <%= link_to " Add Review", new_restaurant_review_path(restaurant) %>
	      <% if restaurant.reviews.any? %>
	      	<h3>Average Rating: <%= restaurant.average_rating.round %> <%= star_rating(restaurant.average_rating.round) %></h3>
	      <% else %>
	      	<br><br><strong>No Average Rating available<strong>
	      <% end %>
	      <h4><%= pluralize restaurant.reviews.count , 'review' %></h4>
			  <ul>
			  <% if restaurant.reviews.count == 0 %>
			  	No reviews
			  <% else %>
				      <% restaurant.reviews.each do |review| %>
				      	<li><%= star_rating(review.rating) %> <%= review.comment %> <%= link_to "Delete", restaurant_review_path(restaurant, review), method: :delete %></li>
			      	  <% end %>
			  <% end %>
			  </ul>
			  <%= form_for [restaurant, @review] do |f| %>
			  <%= f.label :comment %>
			  <%= f.text_area :comment %>

			  <%= f.label :rating %>
			  <%= f.select(:rating, (1..5)) %>

			  <%= f.submit %>
<% end %>
	<% end %>
<% else %>
	No restaurants yet
<% end %>