<template id="review_template">
<li>
	<strong>{{ star_rating }}</strong> - {{ comment }} 
</li>
</template>

<% if @restaurants.any? %>
	<% @restaurants.each do |restaurant| %>
		<div class='restaurant'>
		<h1><%= restaurant.name %></h1>
		  <%= link_to " Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
	      <%= link_to " Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>

	      <h4 class='review_count'>
	      <% if restaurant.reviews.any? %>
		      	<h3>Average Rating: 
		      	<span class='average_rating_number'><%= restaurant.average_rating.round %></span>
		      	<span class='average_rating_stars'><%= star_rating(restaurant.average_rating.round) %></span>
		      	</h3>
	      <% else %>
	      		<br><br><strong>No Average Rating available<strong>
	      <% end %>
	      <%= pluralize restaurant.reviews.count , 'review' %></h4>
			  <ul>
				  <% if restaurant.reviews.count == 0 %>
				  	No reviews
				  <% else %>
					      <% restaurant.reviews.each do |review| %>
					      	<li><%= star_rating(review.rating) %> <%= review.comment %> <%= link_to "Delete", restaurant_review_path(restaurant, review), method: :delete %></li>
				      	  <% end %>
				  <% end %>
			  </ul>
			  <%= form_for [restaurant, @review] do |f| %>
			  <%= f.label :comment %>
			  <%= f.text_area :comment %>

			  <%= f.label :rating %>
			  <%= f.select(:rating, (1..5)) %>

			  <%= f.submit %>
		<% end %>
	</div>
	<% end %>
<% else %>
	No restaurants yet
<% end %>
